/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/reaction/index.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.reaction_goUp0__xHBWj {
  opacity: 0;
  animation: reaction_goUpAnimation0__3lZM1 2s, reaction_fadeOut__gwq11 2s;
}

@keyframes reaction_goUpAnimation0__3lZM1 {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(0px, -400px);
  }
}

.reaction_goUp1__Te1FU {
  opacity: 0;
  animation: reaction_goUpAnimation1__o7NZx 2s, reaction_fadeOut__gwq11 2s;
}

@keyframes reaction_goUpAnimation1__o7NZx {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(0px, -300px);
  }
}

.reaction_goUp2__wfbXM {
  opacity: 0;
  animation: reaction_goUpAnimation2__7R1SN 2s, reaction_fadeOut__gwq11 2s;
}

@keyframes reaction_goUpAnimation2__7R1SN {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(0px, -200px);
  }
}

.reaction_leftRight0__U7BYP {
  animation: reaction_leftRightAnimation0__qLnTY 0.3s alternate infinite ease-in-out;
}

@keyframes reaction_leftRightAnimation0__qLnTY {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(50px, 0px);
  }
}

.reaction_leftRight1__O2AEW {
  animation: reaction_leftRightAnimation1__Wi18G 0.3s alternate infinite ease-in-out;
}

@keyframes reaction_leftRightAnimation1__Wi18G {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(100px, 0px);
  }
}

.reaction_leftRight2__gLGDP {
  animation: reaction_leftRightAnimation2__aguy6 0.3s alternate infinite ease-in-out;
}

@keyframes reaction_leftRightAnimation2__aguy6 {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(-50px, 0px);
  }
}

@keyframes reaction_fadeOut__gwq11 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

